<!DOCTYPE html>
<html>
<head>
<title>IRVA: ChatBot</title>
</head>
<link rel="stylesheet" href="../public/stylesheets/active_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function myFunction(){
   // similar behavior as an HTTP redirect
   window.location.replace("idle_GUI.html");
   //or
   // similar behavior as clicking on a link
   window.location.href =("idle_GUI.html");
}; 
</script>
<script src="../public/javascripts/lists.js"></script>
<script src="../public/javascripts/question1_Handler.js"></script>


<body>

<!--the outer casing of our chatbot-->
<div class="outerChatBorder-IRVA">
    <div class= "topBar-IRVA" id="topBar-IRVA">
        <div div="image-IRVA" id="image-IRVA"> 
            <img src='up-logo.png' alt='logo'>
        </div>
        <div div="header-IRVA" id="header-IRVA">
            <h1> IRVA </h1>
        </div>
    </div>
    <p>
        <span id="dateTime-IRVA">
        </span>
    </p>
    <div div="innerChat-IRVA" id="innerChat-IRVA">
        <blockquote class="speechBubble-IRVA" id="botMessage">
            <p id="botMessage-IRVA"> How can I help you today?</p>
        </blockquote>
        <div class="questionButtons-IRVA", id="questionButtons-IRVA">
            <button class= "question-IRVA" prevID="0" id="0" >I would like to know about Institutional Data.</button>
            <button class= "question-IRVA" prevID="0" id="1" >I would like to know about Data Access.</button>
            <button class= "question-IRVA" prevID="0" id="2" >I would like to know about External Resources.</button>
            <button class= "question-IRVA" prevID="0" id="3" >I would like to know about IR.</button>
            <button class= "question-IRVA" prevID="0" id="4" >I would like to know about Data Protection.</button>
            <button class= "question-IRVA" prevID="0" id="5" >I would like to know about Data Access.</button>
        </div>
    </div>
    <div div="bottomTextBox-IRVA" id="bottomTextBox-IRVA">
        <input type="text" placeholder="Send Message to IRVA here..." id="input-IRVA" name="input"><br><br>
        <input type="submit" id="submitButton-IRVA" value="Send">
    </div>
</div>
<div class="bottomButton-IRVA">
        <button id="closeButton-IRVA" onclick="myFunction()" type="button"><img id="xBox" src='x_box.png'></button>
</div>

<script>
    var dt = new Date();
    document.getElementById('dateTime').innerHTML = dt.toLocaleTimeString();
</script>

</body>
</html>
