.body-IRVA{
  float: right;
  background-color: white;
  font-size: small;
  padding-right: 2%;
  font-family: "Baloo Bhaijaan 2", serif;
}

.h1-IRVA {
  text-align: center;
  padding-left: 125%;
  text-decoration: underline;
  color: white;
  font-family: "Baloo Bhaijaan 2", serif;
}

.img-IRVA {
  width:50px;
  height: auto;
  display: block;
  left: auto;
  right: auto;
  margin-top: 25%;
  margin-left: 40%;
  border-radius: 100%;
  background-color: white;
  border: 2px black;
}

.p-IRVA{
  text-align: center;
  height: fit-content;
  font-family: "Baloo Bhaijaan 2", serif;
}

.input-IRVA{
  align-self: center;
  width: 70%;
  height:fit-content;
  font-family: "Baloo Bhaijaan 2", serif;
}

.outerChatBorder-IRVA {
  border: 3px solid rgb(184, 184, 184);
  border-style: groove groove groove groove;
  width: 400px;
  height: 475px;
  border-radius: 6px;
  background-color: white;
  overflow: hidden;
  font-family: "Baloo Bhaijaan 2", serif;
}

#image-IRVA {
  height: 100%;
  align-items: center;
}

#header-IRVA {
  padding-left: 15%;
}

#topBar-IRVA {
  color: black;
  background-color: purple;
  border-radius: 6px;
  height: fit-content;
  display: flex;
}

#innerChat-IRVA{
  width: inherit;
  align-content: center;
  height: 340px;
  overflow-y:auto;
  overflow-x:hidden;
  text-align: center;
  padding-top: 5%;
}

#innerChat-IRVA::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
  background-color: #F5F5F5;
  padding: 10px;
  background:transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

#innerChat-IRVA::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

#innerChat-IRVA::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

#innerChat-IRVA::-webkit-scrollbar {
  width: 12px;
	background-color: #F5F5F5;
}

#innerChat-IRVA::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  height: 50%;
}

#bottomTextBox-IRVA {
  background-color: rgb(156, 156, 156);
  border: 3px solid rgb(184, 184, 184);
  border-style: groove none none none;
  display: flex;
  justify-content: center;
  height: 10%;
  font-family: "Baloo Bhaijaan 2", serif;
}



#questionButtons .question-IRVA{
  float: right;
  
  font-family: "Baloo Bhaijaan 2", serif;
  background-color: #9147e6;
  margin-right: 5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

#questionButtons .question-IRVA:hover{
  font-family: "Baloo Bhaijaan 2", serif;
  background-color: #b947e6;
}

.question-IRVA {
  float: right;
}

.speechBubble-IRVA {
  filter: drop-shadow(-1px -1px 2px rgba(black, .10)) drop-shadow(1px 2px 2px rgba(black, .15));
  padding: 2% 2%;
  position: inherit;
  font-size: 15px;
  font-weight: 200;
  background: #8CA8D8;
  margin-left: 11%;
  color: white;
  width: 80%;
  align-items: flex-start;
  font-family: "Baloo Bhaijaan 2", serif;
  }

.speechBubble-IRVA cite{
  position: absolute;
  bottom: -2rem;
  left: 4.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
  font-family: "Baloo Bhaijaan 2", serif;
  }

.bottomButton-IRVA {
  float: right;
  padding-top: 5%;
}

#closeButton-IRVA{
  float: right;
  position: relative;
  width: 50px;
  height: 50px;
}

#xBox-IRVA{
  position:inherit;
  top: 40%;
  left: 45%;
  height: 75%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#submitButton-IRVA{
  width: fit-content;
}

#dateTime-IRVA {
  text-align: center;
}
