.body-IRVA{
  float: right;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding-right: 2%;
}

.h1-IRVA {
  text-align: center;
  padding-left: 100%;
  text-decoration: underline;
  color: white;
}

.img-IRVA {
  height: 50%;
  display: block;
  left: auto;
  right: auto;
  margin-top: 15%;
  margin-left: 25%;
  border-radius: 100%;
  background-color: white;
  border: 2px black;
}

.p-IRVA{
  text-align: center;
  height: fit-content;
}

.input-IRVA{
  align-self: center;
  width: 70%;
  height: fit-content;
}

.outerChatBorder-IRVA {
  border: 3px solid rgb(184, 184, 184);
  border-style: groove groove groove groove;
  width: 400px;
  height: 500px;
  border-radius: 6px;
  background-color: white;
  overflow: hidden;
}

#image-IRVA {
  height: 100%;
  align-items: center;
}

#header-IRVA {
  padding-left: 15%;
}

#topBar-IRVA {
  color: black;
  background-color: purple;
  border-radius: 6px;
  height: fit-content;
  display: flex;
}

#innerChat-IRVA{
  width: inherit;
  align-content: center;
  height: 340px;
  overflow-y:auto;
  overflow-x:hidden;
}

#bottomTextBox-IRVA {
  background-color: rgb(156, 156, 156);
  border: 3px solid rgb(184, 184, 184);
  border-style: groove none none none;
  display: flex;
  justify-content: center;
  height: 10%;
}

#questionButtons{
  float: right;
  padding-right: 7%;
  padding-bottom: 10%;
}

.question-IRVA {
  float: right;
}

.speechBubble-IRVA {
filter: drop-shadow(-1px -1px 2px rgba(black, .10)) drop-shadow(1px 2px 2px rgba(black, .15));
padding: 2% 2%;
position: inherit;
font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
font-weight: 200;
background: #8CA8D8;
color: white;
width: 80%;
}

.speechBubble-IRVA cite{
position: absolute;
bottom: -2rem;
left: 4.5rem;
font-size: 1rem;
font-style: normal;
font-weight: 300;
letter-spacing: 0.5px;
color: white;
}

.bottomButton-IRVA {
  float: right;
  padding-top: 5%;
}

#closeButton-IRVA{
  float: right;
  position: relative;
  width: 50px;
  height: 50px;
}

#xBox-IRVA{
  position:inherit;
  top: 40%;
  left:30%;
  height: 75%;
  width: 75%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#submitButton-IRVA{
  width: fit-content;
}
